main {
    display: flex;
    justify-content: space-between;
}

div.image {
    display: flex;
    justify-content: center;
}

div.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.feature-list {
    height: 50%;
}

div.link {
    height: 50%;
}